= render partial: "shared/errors_for", locals: { object: @repeating_class }
.wizard-back-button
= link_to class_setup_path(class_id: @repeating_class.classes.first.id, id: :make_repeating), class: "btn btn-default" do
  %span
    %i.glyphicon.glyphicon-arrow-left
%h3< Open ended or limited duration?
%p< (Open ended means we will always schedule three months of classes into the future.)
= form_for @repeating_class, url: wizard_path, method: :patch do |f|
  = f.hidden_field :forever, id: "forever"
  = button_tag "Open Ended", class: "btn btn-primary", onclick: "$('#forever').val(true); $('form').submit();"
  = button_tag "Limited Duration", class: "btn btn-default", onclick: "$('#forever').val(false); $('form').submit();"
