.row
  .col-xs-3
    .class-time= clazz.display_time
    .class-duration= clazz.display_duration
  .col-xs-5
    .class-name= clazz.name
    .class-types= clazz.display_clazz_types
  .col-xs-4.position-relative
    = clazz.display_studio
    - if arrow
      %span.class-detail-arrow
        %i.glyphicon.glyphicon-chevron-right
- if clazz.canceled?
  .cancelation-warning< This class has been canceled
- elsif clazz.substituted?
  .substitution-warning< This class will be taught by someone else
