.classes
  = render partial: "prev_next_button", locals: { count_message: @presenter.count_message, date_range: @date_range }
  - if @classes_by_date.any?
    - @classes_by_date.each do |date, classes|
      .panel.panel-default
        .panel-heading
          .panel-title= @presenter.header_display_date date
        %ul.list-group
          - classes.each do |clazz|
            - if clazz.in_the_past?
              %li{ class: "list-group-item past-class" }
                = render partial: "class_row", locals: { clazz: clazz, arrow: false }
            - else
              = link_to class_path(clazz), class: "list-group-item future-class" do
                = render partial: "class_row", locals: { clazz: clazz, arrow: true }
