.row
  .col-xs-3.time-column
    .class-time= clazz.display_time
    .class-duration= clazz.display_duration
  .col-xs-5.class-column
    .class-name= clazz.name
    .class-types= clazz.display_clazz_types
  .col-xs-4.studio-column.position-relative
    .studio-name= clazz.studio_name
    .studio-site= clazz.studio_site
    - if arrow
      %span.class-detail-arrow
        %i.glyphicon.glyphicon-chevron-right
