%h3
  = "#{@instructor_profile.full_name}'s Schedule"
  - if @is_owner
    .btn-group.pull-right
      = button_tag type: "button", class: "btn btn-primary dropdown-toggle", data: { toggle: "dropdown" } do
        New
        %span.caret
      %ul.dropdown-menu
        %li= link_to "One-time class", new_class_path
        %li= link_to "Recurring class", new_recurring_class_path
