.profile-header
  = render partial: "shared/profile_photo", locals: { instructor_profile: @instructor_profile, is_owner: @is_owner }
  .name= @instructor_profile.full_name
  - if @is_owner
    .TEMP
      = button_tag type: "button", class: "btn btn-primary dropdown-toggle", data: { toggle: "dropdown" } do
        New
        %span.caret
      %ul.dropdown-menu
        %li= link_to "One-time class", new_class_path
        %li= link_to "Recurring class", new_recurring_class_path
