- if @navbar.needs_new_profile_info?
  .alert.alert-success.info-box#new-profile-info
    %h4< Welcome to Your Profile!
    %p
      Go here to update your profile photo and social media links, and
      to put classes on your schedule.
    %p
      You can always get to this page by clicking "Home" in the SweatSpace menu.
    %p
      Check out our
      = link_to "FAQ", faq_path
      for more info, or
      = mail_to contact_address, "email us"
      and we'll get back to you right away.
    %p
      = form_for :got_it, url: got_its_path, method: :post, remote: true do |f|
        = hidden_field_tag :key, "acked_new_profile_info"
        = f.submit "Got It", class: "btn btn-primary btn-got-it", id: "new-profile-got-it-btn"
  :javascript
    $("#new-profile-got-it-btn").click(function() {
      $("#new-profile-info").fadeOut();
    });
