.social-links
  - if @instructor_profile.any_social?
    - if @instructor_profile.facebook_link
      = social_link :facebook, @instructor_profile do
        %span.fa.fa-facebook
    - if @instructor_profile.instagram_link
      = social_link :instagram, @instructor_profile do
        %span.fa.fa-instagram
    - if @instructor_profile.twitter_link
      = social_link :twitter, @instructor_profile do
        %span.fa.fa-twitter
    - if @instructor_profile.youtube_link
      = social_link :youtube, @instructor_profile do
        %span.fa.fa-youtube
    - if @is_owner
      = link_to edit_social_ids_path, class: "btn btn-success edit-icon", remote: true do
        %span
          %i.glyphicon.glyphicon-edit
  - if @is_owner && !@instructor_profile.any_social?
    = link_to edit_social_ids_path, remote: true, class: "btn btn-success" do
      Social
      %span
        %i.glyphicon.glyphicon-edit
