.classes
  %h3
    = "#{@instructor_profile.full_name}'s Schedule"
    - if @is_owner
      .btn-group.pull-right
        = button_tag type: "button", class: "btn btn-primary dropdown-toggle", data: { toggle: "dropdown" } do
          New
          %span.caret
        %ul.dropdown-menu
          %li= link_to "One-time class", new_class_path
          %li= link_to "Recurring class", new_recurring_class_path
  %p.date-range= @presenter.count_in_range_display
  - if @classes_by_date.any?
    - @classes_by_date.each do |date, classes|
      .panel.panel-default
        .panel-heading
          %h4.panel-title= @presenter.header_display_date date
        %ul.list-group
          - classes.each do |clazz|
            - if clazz.in_the_past?
              %li{ class: "list-group-item past-class" }
                = render partial: "class_row", locals: { clazz: clazz }
            - else
              = link_to class_path(clazz), class: "list-group-item future-class" do
                = render partial: "class_row", locals: { clazz: clazz }
  = render partial: "prev_next_button", locals: { date_range: @date_range }
