= render partial: "shared/errors_for", locals: { object: @instructor_profile }
= render partial: "header"
= render partial: "new_class_button"
= render partial: "classes_list"
= render partial: "add_class_info"
= modal_dialog
