%h3= @instructor_profile.full_name
= image_tag @instructor_profile.profile_picture_url
- if @classes.any?
  %h4< Classes
  %table.table
    %tbody
      - @classes.each do |clazz|
        %tr
          %td= clazz.display_day_of_week
          %td= clazz.display_date
          %td= clazz.display_time
          %td= clazz.name
          %td= link_to clazz.display_studio, clazz.studio_url
          %td= clazz.display_duration
- else
  %h4< No classes
