.form-group
  = f.label :class_template_id, "Class"
  = f.select :class_template_id, class_template_options, {}, class: "form-control"
.form-group
  = f.label :studio_id, "Studio"
  = f.select :studio_id, studio_options, {}, class: "form-control"
.form-group
  = f.label :first_date
  = f.text_field :first_date, class: "form-control", id: "datepicker", readonly: true
.form-group
  = f.label :time_of_day
  = f.text_field :time_of_day, class: "form-control", id: "timepicker", readonly: true
.form-group
  = f.label :number_of_weeks
  = f.select :number_of_weeks, number_of_weeks_options, {}, class: "form-control"
.form-actions
  = f.submit "Save", class: "btn btn-primary"

:javascript
  $(document).ready(function() {
    $('#datepicker').pickadate({
      today: "",
      clear: "",
      format: "yyyy-mm-dd",
      min: true,
      max: 180
    });
  });
  $(document).ready(function() {
    $('#timepicker').pickatime({
      clear: "",
      interval: 5,
      min: [5, 0],
      max: [22, 0],
      format: "hh:i A"
    });
  });
