%li.list-group-item
  .row
    .col-xs-3.vcenter.class-info-key< Class
    .col-xs-8.vcenter= f.select :class_template_id, class_template_options, {}, class: "form-control"
%li.list-group-item
  .row
    .col-xs-3.vcenter.class-info-key< Studio
    .col-xs-8.vcenter= f.select :studio_id, studio_options, {}, class: "form-control input-xs"
%li.list-group-item
  .row
    .col-xs-3.vcenter.class-info-key< First Date
    .col-xs-8.vcenter= f.text_field :first_date, class: "form-control", id: "datepicker", readonly: true
%li.list-group-item
  .row
    .col-xs-3.vcenter.class-info-key< Time of Day
    .col-xs-8.vcenter= f.text_field :time_of_day, class: "form-control input-xs", id: "timepicker", readonly: true
%li.list-group-item
  .row
    .col-xs-3.vcenter.class-info-key< Number of Weeks
    .col-xs-8.vcenter= f.select :number_of_weeks, number_of_weeks_options, {}, class: "form-control"
%li.list-group-item
  .center
    = f.submit "Save", class: "btn btn-primary"
    = link_to "Cancel", profile_path(current_user.instructor_profile.profile_path), class: "btn btn-default"
%li.list-group-item
  .row
    .col-xs-12
      .alert.alert-info
        Don't see your class or studio?
        = mail_to contact_address, "Email us"

:javascript
  $(document).ready(function() {
    $('#datepicker').pickadate({
      today: "",
      clear: "",
      format: "yyyy-mm-dd",
      min: true,
      max: 180
    });
  });
  $(document).ready(function() {
    $('#timepicker').pickatime({
      clear: "",
      interval: 5,
      min: [5, 0],
      max: [22, 0],
      format: "hh:i A"
    });
  });
