= render partial: "shared/errors_for", locals: { object: @recurring_class }
.panel.panel-default
  .panel-heading
    .panel-title< Please confirm these details
  %ul.list-group
    = form_for @recurring_class, url: confirmed_recurring_class_path(@recurring_class), method: :patch do |f|
      %li.list-group-item
        .row
          .col-xs-3.class-info-key< Studio
          .col-xs-8= @recurring_class.studio_full_name
      %li.list-group-item
        .row
          .col-xs-3.class-info-key< Class
          .col-xs-8= @recurring_class.name
      %li.list-group-item
        .row
          .col-xs-3.class-info-key< Length
          .col-xs-8= @recurring_class.display_duration
      %li.list-group-item
        .row
          .col-xs-3.class-info-key< Day of Week
          .col-xs-8= @recurring_class.display_day_of_week
      %li.list-group-item
        .row
          .col-xs-3.class-info-key< Time
          .col-xs-8= @recurring_class.display_time
      %li.list-group-item
        .row
          .col-xs-3.class-info-key< First Date
          .col-xs-8= @recurring_class.display_first_date
      %li.list-group-item
        .row
          .col-xs-3.class-info-key< Number of Weeks
          .col-xs-8= @recurring_class.display_number_of_weeks
      %li.list-group-item
        .center
          = f.submit "Confirm", class: "btn btn-primary"
          = link_to "Cancel", profile_path(current_user.instructor_profile.profile_path), class: "btn btn-default"
