= render partial: "shared/errors_for", locals: { object: @clazz }
.wizard-back-button
  = link_to previous_wizard_path, class: "btn btn-default" do
    %span
      %i.glyphicon.glyphicon-arrow-left
%h3< Confirm?
%table.table
  %tr
    %td
      %strong< Class
    %td= @clazz.name
  %tr
    %td
      %strong< Studio
    %td= @clazz.display_studio
  %tr
    %td
      %strong< Date
    %td= "#{@clazz.display_day_of_week} #{@clazz.display_date}"
  %tr
    %td
      %strong< Time
    %td= @clazz.display_time
= form_for @clazz, url: wizard_path, method: :patch do |f|
  = f.hidden_field :confirmed, value: true
  .form-actions
    = f.submit "Confirm", class: "btn btn-primary form-control"
