.wizard-back-button
  = link_to previous_wizard_path, class: "btn btn-default" do
    %span
      %i.glyphicon.glyphicon-arrow-left
%h3< Select the date
= form_for @clazz, url: wizard_path, method: :patch do |f|
  .form-group
    = f.label :date
    = f.text_field :date, class: "submit-on-change form-control", id: "datepicker", readonly: true, autofocus: true
  .form-actions
    = f.submit "Next", class: "btn btn-primary form-control"

:javascript
  new SubmitOnChange();
  $(document).ready(function() {
    $('#datepicker').pickadate({
      today: "",
      clear: "",
      format: "yyyy-mm-dd"
    });
  });
