.wizard-back-button
  = link_to previous_wizard_path, class: "btn btn-default" do
    %span
      %i.glyphicon.glyphicon-arrow-left
%h3< Select the time
= form_for @clazz, url: wizard_path, method: :patch do |f|
  .form-group
    = f.label :time_of_day
    = f.text_field :time_of_day, class: "form-control submit-on-change", id: "timepicker", readonly: true, autofocus: true
  .form-actions
    = f.submit "Next", class: "btn btn-primary form-control"

:javascript
  new SubmitOnChange();
  $(document).ready(function() {
    $('#timepicker').pickatime({
      clear: "",
      interval: 5,
      min: [5, 0],
      max: [22, 0],
      format: "hh:i A"
    });
  });
