= render partial: "shared/errors_for", locals: { object: @class_template }
%h3< Edit the class template
= form_for @class_template, url: { action: :update } do |f|
  = render partial: "form_fields", locals: { f: f }
%h3< Studios
= render partial: "studio_list"
= form_for :class_template_studio, url: admin_class_template_studios_path, method: :post do |f|
  = render partial: "studio_form_fields", locals: { f: f }
