= render partial: "shared/errors_for", locals: { object: resource }
.panel.panel-default
  .panel-heading
    .panel-title< Change your password
  %ul.list-group
    = form_for resource, as: resource_name, url: user_password_path, method: :patch do |f|
      = f.hidden_field :reset_password_token
      %li.list-group-item
        .row
          .col-xs-3.vcenter.class-info-key
            New Password
            - if @minimum_password_length
              %em< (#{@minimum_password_length} characters minimum)
          .col-xs-8.vcenter= f.password_field :password, autocomplete: "off", class: "form-control"
      %li.list-group-item
        .row
          .col-xs-3.vcenter.class-info-key< Password Confirmation
          .col-xs-8.vcenter= f.password_field :password_confirmation, autocomplete: "off", class: "form-control"
      %li.list-group-item
        .center= f.submit "Change my password", class: "btn btn-primary"
