= render partial: "shared/errors_for", locals: { object: resource }
%h3< Change your password
= form_for resource, as: resource_name, url: user_password_path, method: :patch do |f|
  = f.hidden_field :reset_password_token
  .form-group
    = f.label :password, "New password"
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} characters minimum)
      %br/
    = f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control"
  .form-group
    = f.label :password_confirmation, "Confirm new password"
    = f.password_field :password_confirmation, autocomplete: "off", class: "form-control"
  .form-actions
    = f.submit "Change my password", class: "btn btn-primary"
