%li.list-group-item
  .row
    .col-xs-3.vcenter.class-info-key< Studio
    .col-xs-8.vcenter= f.select :studio_id, studio_options, { prompt: "Select the studio" }, class: "form-control input-xs", autofocus: true, id: "studio-select"
%li.list-group-item
  .row
    .col-xs-3.vcenter.class-info-key< Class
    .col-xs-8.vcenter
      - if f.object.studio
        = f.select :class_template_id, class_template_options(f.object.studio), {}, class: "form-control", id: "class-template-select"
      - else
        = f.select :class_template_id, [], {}, class: "form-control", id: "class-template-select", disabled: true
%li.list-group-item
  .row
    .col-xs-3.vcenter.class-info-key< Length (minutes)
    .col-xs-8.vcenter= f.number_field :duration, class: "form-control input-xs", id: "duration-text", disabled: f.object.duration.nil?
%li.list-group-item
  .row
    .col-xs-3.vcenter.class-info-key< Date
    .col-xs-8.vcenter= f.text_field :date, class: "form-control", id: "datepicker", readonly: true
%li.list-group-item
  .row
    .col-xs-3.vcenter.class-info-key< Time of Day
    .col-xs-8.vcenter= f.text_field :time_of_day, class: "form-control input-xs", id: "timepicker", readonly: true
%li.list-group-item
  .center
    = f.submit "Save", class: "btn btn-primary"
    = link_to "Cancel", profile_path(current_user.instructor_profile.profile_path), class: "btn btn-default"
%li.list-group-item
  .row
    .col-xs-12
      .alert.alert-info
        Don't see your class or studio?
        = mail_to contact_address, "Email us"

:javascript
  new ClassesByStudio();
  $(document).ready(function() {
    $('#datepicker').pickadate({
      today: "",
      clear: "",
      format: "yyyy-mm-dd",
      min: true,
      max: 180
    });
  });
  $(document).ready(function() {
    $('#timepicker').pickatime({
      clear: "",
      interval: 5,
      min: [5, 0],
      max: [22, 0],
      format: "hh:i A"
    });
  });
