.form-group
  = f.label :clazz_type_id, "Class Type"
  = f.select :clazz_type_id, clazz_type_options, class: "form-control"
.form-group
  = f.label :studio_id, "Studio"
  = f.select :studio_id, studio_options, class: "form-control"
.form-group
  = f.label :name
  = f.text_field :name, class: "form-control"
.form-group
  = f.label :time
  = f.datetime_field :time, class: "form-control", id: "datetimepicker", readonly: true
.form-group
  = f.label :duration
  = f.number_field :duration, class: "form-control"
.form-actions
  = f.submit "Save", class: "btn btn-primary"

:javascript
  $('#datetimepicker').datetimepicker({
    format: "YYYY-MM-DD h:mm A",
    ignoreReadonly: true,
    showClose: true,
    stepping: 5
  });
