.form-group
  = f.label :class_template_id, "Class Template"
  = f.select :class_template_id, class_template_options, class: "form-control"
.form-group
  = f.label :time
  = f.datetime_field :time, class: "form-control", id: "datetimepicker", readonly: true
.form-actions
  = f.submit "Save", class: "btn btn-primary"

:javascript
  $('#datetimepicker').datetimepicker({
    format: "YYYY-MM-DD h:mm A",
    ignoreReadonly: true,
    showClose: true,
    stepping: 5
  });
