.panel.panel-default
  .panel-heading
    %h3.panel-title
      - if @clazz.canceled
        .class-canceled-warning< This class has been canceled
      - else
        Summary
  %ul.list-group
    %li.list-group-item
      .row
        .col-xs-4.col-md-2
          .class-info-key< Instructor
        .col-xs-8.col-md-4= @clazz.instructor_profile.full_name
    %li.list-group-item
      .row
        .col-xs-4.col-md-2
          .class-info-key< Date
        .col-xs-8.col-md-4= @clazz.display_long_date
    %li.list-group-item
      .row
        .col-xs-4.col-md-2
          .class-info-key< Time
        .col-xs-8.col-md-4= @clazz.display_time
    %li.list-group-item
      .row
        .col-xs-4.col-md-2
          .class-info-key< Studio
        .col-xs-8.col-md-4= @clazz.display_studio
    %li.list-group-item
      .row
        .col-xs-4.col-md-2
          .class-info-key< Class
        .col-xs-8.col-md-4= @clazz.name
