.panel.panel-default
  .panel-heading
    .panel-title< Delete Class
  .panel-body
    %p< Click the button to remove the meeting of:
    %p
      .class-detail= @clazz.name
      .class-detail= @clazz.display_studio
      %pan.class-detail
        = @clazz.display_date
        at
        = @clazz.display_time
    - if @clazz.recurring_class
      %p< Other meetings for this recurring class will not be affected.
    = form_for :class_change, url: delete_class_change_path(@clazz) do |f|
      = f.submit "Delete Class", class: "btn btn-danger", data: { confirm: "Are you sure you want to do this?" }
