.studio-address
  %div
    = link_to @clazz.studio_url, class: "studio-full-name", target: "_blank" do
      %span
        %i.glyphicon.glyphicon-new-window
      = @clazz.studio_full_name
  - if @clazz.studio.address_1?
    %div= @clazz.studio.address_1
  - if @clazz.studio.address_2?
    %div= @clazz.studio.address_2
  - if @clazz.studio.address_3?
    %div= @clazz.studio.address_3
