= render partial: "shared/errors_for", locals: { object: @clazz }
.panel.panel-default
  .panel-heading
    .panel-title< Please confirm these details
  %ul.list-group
    = form_for @clazz, url: confirmed_class_path(@clazz), method: :patch do |f|
      %li.list-group-item
        .row
          .col-xs-3.class-info-key< Studio
          .col-xs-8= @clazz.studio_full_name
      %li.list-group-item
        .row
          .col-xs-3.class-info-key< Class
          .col-xs-8= @clazz.name
      %li.list-group-item
        .row
          .col-xs-3.class-info-key< Date
          .col-xs-8= "#{@clazz.display_day_of_week} #{@clazz.display_date}"
      %li.list-group-item
        .row
          .col-xs-3.class-info-key< Time
          .col-xs-8= @clazz.display_time
      %li.list-group-item
        .center
          = f.submit "Confirm", class: "btn btn-primary"
          = link_to "Cancel", profile_path(current_user.instructor_profile.profile_path), class: "btn btn-default"
