= render partial: "shared/errors_for", locals: { object: @clazz }
= link_to edit_class_path(@clazz), class: "btn btn-default" do
  %span
    %i.glyphicon.glyphicon-arrow-left
%h3< Please confirm these details
%table.table
  %tr
    %td
      %strong< Class
    %td= @clazz.name
  %tr
    %td
      %strong< Studio
    %td= @clazz.display_studio
  %tr
    %td
      %strong< Date
    %td= "#{@clazz.display_day_of_week} #{@clazz.display_date}"
  %tr
    %td
      %strong< Time
    %td= @clazz.display_time
= form_for @clazz, url: confirmed_class_path(@clazz), method: :patch do |f|
  = f.submit "Confirm", class: "btn btn-primary"
