%h3< Classes
- if @clazzes.any?
  %table.table
    %tbody
      - @clazzes.each do |clazz|
        %tr
          %td= clazz.display_time
          %td= clazz.name
          %td= clazz.display_clazz_type
          %td= clazz.display_studio
          %td= clazz.display_duration
          %td= clazz.description
          %td= link_to "Edit", edit_class_path(clazz)
- else
  %p< No classes
= link_to "Create", new_class_path, class: "btn btn-primary"
