.my-classes
  %h3< My Classes
  %p= link_to "Add a Class", start_setup_classes_path, method: :post, class: "btn btn-primary form-control"
  %p.date-range= @presenter.count_in_range_display
  - if @classes_by_date.any?
    = render partial: "prev_next_button", locals: { date_range: @date_range }
    - @classes_by_date.each do |date, classes|
      .panel.panel-default
        .panel-heading
          %h4.panel-title= @presenter.header_display_date date
        %ul.list-group
          - classes.each do |clazz|
            %li.list-group-item{ class: class_summary_class(clazz) }
              .row
                .col-xs-3= clazz.display_time
                .col-xs-5= clazz.name
                .col-xs-4= clazz.display_studio
  = render partial: "prev_next_button", locals: { date_range: @date_range }
