.my-classes
  %h3
    My Classes
    = link_to "Add a Class", start_setup_classes_path, method: :post, class: "btn btn-primary btn-sm pull-right"
  %p.date-range= @presenter.count_in_range_display
  - if @classes_by_date.any?
    = render partial: "prev_next_button", locals: { date_range: @date_range }
    - @classes_by_date.each do |date, classes|
      .panel.panel-default
        .panel-heading
          %h4.panel-title= @presenter.header_display_date date
        %ul.list-group
          - classes.each do |clazz|
            = link_to class_change_path(clazz), remote: true, class: "list-group-item #{class_summary_class(clazz)}" do
              .row
                .col-xs-3= clazz.display_time
                .col-xs-5= clazz.name
                .col-xs-4= clazz.display_studio
  = render partial: "prev_next_button", locals: { date_range: @date_range }
  = modal_dialog
