%p
  = link_to profile_path(@clazz.instructor_profile.profile_path), class: "btn btn-default" do
    %span
      %i.glyphicon.glyphicon-arrow-left
= render partial: "show_summary"
= render partial: "show_class_detail"
= render partial: "show_studio_detail"
- if @is_owner
  - unless @clazz.in_the_past?
    = render partial: "show_cancellation"
    = render partial: "show_deletion"
