.modal-dialog.modal-lg
  .modal-content
    .modal-header
      = button_tag class: "close", data: { dismiss: "modal" } do
        %span< &times;
      %h4.modal-title< Make a Change
    %table.table
      %tr
        %td.table-key< Date
        %td= @clazz.display_long_date
      %tr
        %td.table-key< Time
        %td= @clazz.display_time
      %tr
        %td.table-key< Class
        %td= @clazz.name
      %tr
        %td.table-key< Studio
        %td= @clazz.display_studio
      - if @clazz.repeating_class.present?
        %tr
          %td.table-key< Weekly
          - if @clazz.repeating_class.forever?
            %td< Open ended
          - else
            %td= @clazz.display_num_remaining
      - if @clazz.canceled?
        %tr
          %td.table-key{ colspan: "2" }< CANCELED
      - unless @clazz.in_the_past?
        - if @clazz.canceled?
          %tr
            %td{ colspan: "2" }
              = form_for :class_change, url: uncancel_class_change_path(@clazz) do |f|
                = f.submit "Un-cancel Class", class: "form-control btn btn-primary"
        - else
          %tr
            %td{ colspan: "2" }
              = form_for :class_change, url: cancel_class_change_path(@clazz) do |f|
                = f.submit "Cancel Class", class: "form-control btn btn-primary"
      %tr
        %td{ colspan: "2" }
          = form_for :class_change, url: delete_class_change_path(@clazz) do |f|
            = f.submit "Delete Class", class: "form-control btn btn-primary"
      - unless @clazz.canceled? || @clazz.repeating_class.nil?
        %tr
          %td{ colspan: "2" }
            = form_for :class_change, url: last_in_repeating_class_class_change_path(@clazz) do |f|
              = f.submit "Make Last in Repeating Class", class: "form-control btn btn-primary"
