= render partial: "shared/errors_for", locals: { object: resource }
.panel.panel-default
  .panel-heading
    .panel-title< Instructor Log in
  %ul.list-group
    = form_for resource, as: resource_name, url: session_path(resource_name) do |f|
      %li.list-group-item
        .alert.alert-info
          Accounts are currently only for instructors.
          Are you an instructor who wants early access?
          = mail_to contact_address, "Email us"
          to request an account!
      %li.list-group-item
        .alert.alert-info
          Not an instructor?
          = link_to "Sign up for our newsletter", new_newsletter_signup_path
          to be the first to know when we add more features!
      %li.list-group-item
        .row
          .col-xs-3.vcenter.class-info-key< Email
          .col-xs-8.vcenter= f.email_field :email, autofocus: true, class: "form-control"
      %li.list-group-item
        .row
          .col-xs-3.vcenter.class-info-key< Password
          .col-xs-8.vcenter
            = f.password_field :password, autocomplete: "off", class: "form-control"
            - if devise_mapping.rememberable?
              .field
                = f.check_box :remember_me
                = f.label :remember_me
      - if devise_mapping.recoverable?
        %li.list-group-item
          .row
            .col-xs-offset-3.col-xs-8
              = link_to "Forgot your password?", new_user_password_path
      %li.list-group-item
        .center= f.submit "Log in", class: "btn btn-primary"
