.form-group
  = f.label :name
  = f.text_field :name, autofocus: true, class: "form-control"
.form-group
  = f.label :url
  = f.text_field :url, class: "form-control"
.form-group
  = f.label :map_url
  = f.text_field :map_url, class: "form-control"
.form-group
  = f.label :timezone, "Time Zone"
  = f.select :timezone, time_zone_options_for_select(@studio.timezone || "Eastern Time (US & Canada)", ActiveSupport::TimeZone.us_zones), {}, class: "form-control"
.form-actions
  = f.submit "Save", class: "btn btn-primary"
