= render partial: "shared/errors_for", locals: { object: @studio }
%p
  = link_to admin_studios_path, class: "btn btn-default" do
    %span
      %i.glyphicon.glyphicon-arrow-left
.panel.panel-default
  .panel-heading
    .panel-title< Studio Details
  .panel-body
    = form_for @studio, url: { action: :update} do |f|
      = render partial: "form_fields", locals: { f: f }
.panel.panel-default
  .panel-heading
    .panel-title< Associated Class Templates
  = render partial: "class_templates_list"
  .panel-footer
    = form_for :class_template_studio, url: admin_class_template_studios_path, method: :post do |f|
      = render partial: "class_template_form_fields", locals: { f: f }
