%h3
  Instructor Profiles
- if @instructor_profiles.any?
  %table.table
    %thead
      %tr
        %td{ colspan: 3 }= "#{@count} instructor #{'profile'.pluralize @count}"
    %tbody
      - @instructor_profiles.each do |instructor_profile|
        %tr
          %td= instructor_profile.display_created_at
          %td= instructor_profile.full_name
          %td= link_to instructor_profile.profile_path, profile_path(instructor_profile.profile_path)
- else
  %p< No instructor profiles.
