= form_for @instructor_profile, url: instructor_profile_path(@instructor_profile), method: :patch do |f|
  - if @instructor_profile.cover_photo?
    .form-group
      .cover-photo-preview= image_tag @instructor_profile.cover_photo.scaled_thumb.url
      = f.check_box :remove_cover_photo
      Remove cover photo
  .form-group
    = f.file_field :cover_photo
  .form-actions
    = f.submit "Update", class: "btn btn-primary", data: { disable_with: "Please wait..." }
    = button_tag "Cancel", class: "btn btn-default", "data-dismiss" => "modal"
