= render partial: "shared/errors_for", locals: { object: @repeating_class }
= link_to edit_repeating_class_path(@repeating_class), class: "btn btn-default" do
  %span
    %i.glyphicon.glyphicon-arrow-left
%h3< Please confirm these details
%table.table
  %tr
    %td
      %strong< Class
    %td= @repeating_class.name
  %tr
    %td
      %strong< Studio
    %td= @repeating_class.display_studio
  %tr
    %td
      %strong< Day of Week
    %td= @repeating_class.display_day_of_week
  %tr
    %td
      %strong< Time
    %td= @repeating_class.display_time
  %tr
    %td
      %strong< First Date
    %td= @repeating_class.display_first_date
  %tr
    %td
      %strong< Number of Weeks
    %td= @repeating_class.display_number_of_weeks
= form_for @repeating_class, url: confirmed_repeating_class_path(@repeating_class), method: :patch do |f|
  = f.submit "Confirm", class: "btn btn-primary"
