.my-repeating-classes
  %h3
    My Repeating Classes
    = link_to new_repeating_class_path, class: "btn btn-primary btn-sm pull-right" do
      %span
        %i.glyphicon.glyphicon-plus
  - if @repeating_classes_by_day.any?
    - @repeating_classes_by_day.each do |day, repeating_classes|
      .panel.panel-default
        .panel-heading
          %h4.panel-title= repeating_classes.first.display_day_of_week
        - repeating_classes.each do |repeating_class|
          %li.list-group-item
            .row
              .col-xs-2= repeating_class.display_time
              .col-xs-4= repeating_class.name
              .col-xs-3= repeating_class.display_studio
              .col-xs-3
                - if repeating_class.open_ended?
                  Open ended
                - else
                  = repeating_class.display_num_remaining
