%nav.navbar.navbar-default
  .container-fluid
    %nav.nav.navbar-nav.navbar-left
      .navbar-header
        = link_to "#", id: "menu-hamburger" do
          %span.navbar-brand#menu-hamburger
            %i.glyphicon.glyphicon-menu-hamburger
            = link_to "SweatSpace", root_path, class: "navbar-brand"
      %nav#my-menu
        %ul
          - if user_signed_in?
            = render partial: "layouts/navigation/signed_in_user"
            - if current_user.admin?
              = render partial: "layouts/navigation/admin"
          - else
            = render partial: "layouts/navigation/signed_out_user"

:javascript
  $(function() {
    $("#my-menu").mmenu();
  });
  $("#menu-hamburger").click(function() {
    $("#my-menu").data("mmenu").open();
  });
