%nav.navbar.navbar-default
  .container-fluid
    %nav.nav.navbar-nav.navbar-left
      .navbar-header
        - if @back_link
          = link_to @back_link do
            %span.navbar-brand
              %i.glyphicon.glyphicon-chevron-left
        = link_to "#", class: "navbar-brand", id: "menu-hamburger" do
          SweatSpace
          %span.caret
      %nav#my-menu
        %ul
          - if user_signed_in?
            = render partial: "layouts/navigation/signed_in_user"
            - if current_user.admin?
              = render partial: "layouts/navigation/admin"
          - else
            = render partial: "layouts/navigation/signed_out_user"

:javascript
  $(function() {
    $("#my-menu").mmenu();
  });
  $("#menu-hamburger").click(function() {
    $("#my-menu").data("mmenu").open();
  });
