%nav.navbar.navbar-default
  .container-fluid
    - if @navbar.back_link
      = link_to @navbar.back_link do
        %span.navbar-brand
          %i.glyphicon.glyphicon-chevron-left
    = link_to "#", class: "navbar-brand", id: "menu-hamburger" do
      SweatSpace
      %span.caret
    - if @navbar.create_profile_button?
      = link_to new_instructor_profile_path, class: "btn btn-success btn-sm navbar-btn" do
        %span
          Profile
          %span
            %i.glyphicon.glyphicon-plus
    - if @navbar.new_class_button?
      = render partial: "layouts/new_class_button"
    = link_to random_profile_path, class: "btn btn-danger btn-sm navbar-btn pull-right" do
      %span
        %i.glyphicon.glyphicon-flash
    %nav#my-menu
      %ul
        - if user_signed_in?
          = render partial: "layouts/navigation/signed_in_user"
          - if current_user.admin?
            = render partial: "layouts/navigation/admin"
        - else
          = render partial: "layouts/navigation/signed_out_user"

:javascript
  $(function() {
    $("#my-menu").mmenu();
  });
  $("#menu-hamburger").click(function() {
    $("#my-menu").data("mmenu").open();
  });
