%li.mm-divider< Admin
%li.menu-link= link_to "Manage Instructor Profiles", admin_instructor_profiles_path
%li.menu-link= link_to "Manage Class Types", admin_class_types_path
%li.menu-link= link_to "Manage Studio Brands", admin_studio_brands_path
%li.menu-link= link_to "Manage Studios", admin_studios_path
%li.menu-link= link_to "Manage Class Templates", admin_class_templates_path
%li.menu-link= link_to "Manage Invitations", admin_invitations_path
%li.menu-link= link_to "Manage Newsletter Subscriptions", admin_newsletter_signups_path
