%li.mm-divider< User
%li.menu-link= link_to "My Account", edit_registration_path(current_user)
%li.menu-link= link_to "Log Out", destroy_user_session_path, method: :delete
%li.mm-divider< Profile
- if current_user.instructor_profile.try :persisted?
  %li.menu-link= link_to "View Profile", profile_path(current_user.instructor_profile.profile_path)
  %li.menu-link= link_to "Edit Profile", edit_instructor_profile_path(current_user.instructor_profile)
  %li.mm-divider< Classes
  %li.menu-link= link_to "My Classes", classes_path
  %li.menu-link= link_to "My Repeating Classes", repeating_classes_path
- else
  %li.menu-link= link_to "Create Profile", new_instructor_profile_path
